#imglogo {
    height: 40px;
    width: 40px;
    border-radius: 25px;
}

#cssmenu {
    background: #FCF3CF;

}



ul {
    list-style-type: none;
}

#layout{
    box-sizing: border-box;
    border: 2px solid black;

}

.header {
    background-color: Highlight;
    text-align: center;
    padding: 20px;
    margin: 5px;
}

.footer {
    background-color: skyblue;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

.column {
    float: left;
    margin-left: 20px;
    padding: 5px;
    padding-top: 300px;
    text-align: center;
    height: 500px;
    
    
}

.column.left {
    width: 25%;
    background-color: indianred;
}


.column.middle {
    width: 40%;
    background-color: yellow;
}

.column.right {
    width: 25%;
    background-color: rebeccapurple;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}