<div id="maincontent">
    <div class="logo"><b>LOGO HERE</b></div>
    <div class="banner"><br /><img src="../../assets/images/bg.jpg" width="100%" height="300px" alt="Image not found" /></div>
    <div class="row-1">
        <p><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</b></p>
        <p>
            Nullam sed leo risus. Ut tellus leo, faucibus vitae tortor sed, euismod dignissim ex.
            Cras non mi vitae enim faucibus dignissim. Praesent scelerisque condimentum elit, non congue
            metus lacinia malesuada. Vestibulum purus arcu, molestie in mattis sit amet, aliquet eget est.
        </p><br />
        <button id="downbtn">Download Now</button>
        <hr /><br />
    </div>
    <div class="row-2">
        <div class="row-2 col-1">
            <p><b>Fully Responsive</b></p>
            <p>
                Ut tellus leo, faucibus vitae tortor sed, euismod dignissim ex.
                s sit amet, aliquet eget est.
            </p>
        </div>
        <div class="row-2 col-2">
            <p><b>HTML5 + CSS3</b></p>
            <p>
                Ut tellus leo, faucibus vitae tortor sed, euismod dignissim ex.
                Cras non mi vitae enim faucibus dignissim. Praesent scelerisque condimentum elit, non congue
                metus lacinia malesuada. Vestibulum purus arcu, molestie in mattis sit amet, aliquet eget est.
            </p>
        </div>
        <div class="row-2 col-3">
            <p><b>Launch Ready</b></p>
            <p>
                Ut tellus leo, faucibus vitae tortor sed, euismod dignissim ex.
                Cras non mi vitae enim faucibus dignissim. Praesent scelerisque condimentum elit, non congue
                metus lacinia malesuada. Vestibulum purus arcu, molestie in mattis sit amet, aliquet eget est.
            </p>
        </div>
    </div>
    <div class="row-3" id="projectrow">
        <br /><br /><br /><br />
        <p><b>Recent Works</b></p>
        <hr style="border-top:dashed" /> <br />
        <div class="row-3 img-1">
    
                <img src="assets/images/logo1.png" width="350px" height="220px" />
                <p><b>Project One</b></p>
                <p>
                    Cras non mi vitae enim faucibus dignissim. Praesent scelerisque condimentum elit, non congue
                    metus lacinia malesuada. Vestibulum purus arcu, molestie in mattis sit amet, aliquet eget est.
                </p>

        </div>
        <div class="row-3 img-2">
           
                <img src="assets/images/logo2.png" width="350px" height="220px" />
                <p><b>Project One</b></p>
                <p>
                    Cras non mi vitae enim faucibus dignissim. Praesent scelerisque condimentum elit, non congue
                    metus lacinia malesuada. Vestibulum purus arcu, molestie in mattis sit amet, aliquet eget est.
                </p>
         
        </div>
        <div class="row-3 img-3">
         
                <img src="assets/images/logo3.png" width="350px" height="220px" />
                <p><b>Project One</b></p>
                <p>
                    Cras non mi vitae enim faucibus dignissim. Praesent scelerisque condimentum elit, non congue
                    metus lacinia malesuada. Vestibulum purus arcu, molestie in mattis sit amet, aliquet eget est.
                </p>
           
        </div>
        <div class="row-3 img-4">
           
                <img src="assets/images/logo4.png" width="350px" height="220px" />
                <p><b>Project One</b></p>
                <p>
                    Cras non mi vitae enim faucibus dignissim. Praesent scelerisque condimentum elit, non congue
                    metus lacinia malesuada. Vestibulum purus arcu, molestie in mattis sit amet, aliquet eget est.
                </p>
       
        </div>
    </div>
    <div class="row-4">
        <br /><br /><br /><br />
        <p><b>Welcome to this site</b></p>
        <hr style="border-top:dashed" /> <br />
        <div class="row-4 img-5">
         
                <img src="assets/images/logo5.png" width="315px" height="200px" />
                <p class="row-4 img-5 data">
                    Nullam sed leo risus. Ut tellus leo, faucibus vitae tortor sed,
                    euismod dignissim ex. Cras non mi vitae enim faucibus dignissim.
                    Praesent scelerisque condimentum elit, non congue metus lacinia malesuada.
                    Vestibulum purus arcu, molestie in mattis sit amet, aliquet eget est.
                </p>
                <p>
                    Blue Fountain Media is a digital agency in NYC that is founded on the
                    premise that client results and stunning design go hand in hand. They
                    provide 360 degree solutions from strategy and design to development
                    and digital marketing services, with ROI as thier factor for success.
                </p>
                <p>
                    - CEO, Jack Bour
                </p>
       
        </div>
    </div>
    <div class="row-4">
        <br /><br /><br /><br />
        <p><b>Latest Shots</b></p>
        <hr style="border-top:dashed" /> <br />
        <div class="row-4 img-6">
        
                <img src="assets/images/logo6.png" width="538px" height="316px" />
        
        </div>
    </div>
    <div class="row-5">
        <br /><br /><br /><br />
        <p><b>Our Clients</b></p>
        <hr style="border-top:dashed" /> <br />
        <div class="row-5 img-7">
     
                <img src="assets/images/logo9.png" width="80px" height="80px" />
         
        </div>
        <div class="row-5 img-8">
          
                <img src="assets/images/logo9.png" width="80px" height="80px" />
          
        </div>
        <div class="row-5 img-9">
         
                <img src="assets/images/logo9.png" width="80px" height="80px" />
        
        </div>
        <div class="row-5 img-10">
           
                <img src="assets/images/logo9.png" width="80px" height="80px" />
           
        </div>
    </div>
    <div class="row-6 logohere">
        <div class="row-6 cl-1">
            <br />
            <p><b style="color:lawngreen;">Logo Here</b></p><br />
            <p>
                Nullam sed leo risus. Ut tellus leo, faucibus vitae tortor sed,
                euismod dignissim ex. Cras non mi vitae enim faucibus dignissim.
                Praesent scelerisque condimentum elit, non congue metus lacinia malesuada.
                Vestibulum purus arcu, molestie in mattis sit amet, aliquet eget est.
            </p>
        </div>

        <div class="row-6 cl-2">
            <br />
            <p><b>Latest Posts</b></p>
            <hr style="border-top:dashed" /> <br />
            <p><b style="font-size:20px;">Incredible Content</b></p>
            <p style="font-size:18px;">May 8, 2014</p>
            <hr style="color:white;" />
            <p><b style="font-size:20px;">Incredible Content</b></p>
            <p style="font-size:18px;">May 8, 2014</p>
            <hr style="color:white;" />
            <p><b style="font-size:20px;">Incredible Content</b></p>
            <p style="font-size:18px;">May 8, 2014</p>
        </div>

        <div class="row-6 cl-3">
            <br />
            <p><b>Useful Links</b></p>
            <hr style="border-top:dashed" /> <br />
            <p style="font-size:18px;">ABOUT US</p>
            <hr style="color:white;" />
            <p style="font-size:18px;">ABOUT US</p>
            <hr style="color:white;" />
            <p style="font-size:18px;">ABOUT US</p>
            <hr style="color:white;" />
            <p style="font-size:18px;">ABOUT US</p>
            <hr style="color:white;" />
            <p style="font-size:18px;">ABOUT US</p>
        </div>

        <div class="row-6 cl-4">
            <br />
                <p><b>Contact Us</b></p>
                <hr style="border-top:dashed" /> <br />
                <p>30/B Adarsh Society, </p>
                <p>Near Kaashi Parekh Complex,</p>
                <p>Swastik Char Rasta, C G Road, </p>
                <p> Ahmedabad-380009 Gujrat-India </p>
                <p>Phone:<i style="color:greenyellow;"> +91-79-26400685</i></p>
         
        </div>
        <div class="row-7" id="footer" style="clear:both;">
            2015&copy; All Rights Reserved. <p style="color:greenyellow;">Privacy Policy | Terms of Service</p>
           
        </div>
    </div>
</div>