#imglogo {
    height: 40px;
    width: 40px;
    border-radius: 25px;
}

#cssmenu {
    background: #FCF3CF;

}

#bodycontent {
    background: white;     
    height: 600vh;    

}

ul {
    list-style-type: none;
}

#maincontent{
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}           

.logo {
    color: forestgreen;
    background-color: white;
    font-size: 24px;
}
p > b {
    font-size: 32px;
    
}

p {
   
    font-size: 18px;
}

#downbtn {
    color: white;
    background-color: lawngreen;
    font-size: 18px;
    padding:5px;
}

.logohere {
    background-color: #303030;
    color: white;
}

#footer {
    background-color: black;
    color:white;
}

/* For mobile phones: */
@media only screen and (max-width: 600px) {
     
    .row-5{
        width: 100%;
        display: inline-block;
    }
    .row-5.img-7 {
        width: 25%
    }
    .row-5.img-8 {
        width: 25%
    }
    .row-5.img-9 {
        width: 25%
    }
    .row-5.img-10 {
        width: 15%
    }
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .row-3{
        float:left;
    }
    .row-2 {
        width:100%;
        
    }
    
    .row-3.img-1 {
        width: 50%;
    }

    .row-3.img-2 {
        width:50%;
    }

    .row-3.img-3 {
        width: 50%;
    }

    .row-3.img-4 {
        width: 50%;
    }
    .row-4 {
        float: left;
        width: 100%;
        
    }
    .row-4.img-5.data {
        float: right;
        width:50%;
    }

     .row-5{
        width: 100%;
        display: inline-block;
    }
    .row-5.img-7 {
        width: 25%
    }
    .row-5.img-8 {
        width: 25%
    }
    .row-5.img-9 {
        width: 25%
    }
    .row-5.img-10 {
        width: 15%
    }
    .row-6 {
        float: left;
    }
    .row-6.cl-2 {
        width:100%;
    }
    .row-6.cl-3 {
        width:50%;
    }
    .row-6.cl-4 {
        float:left;
        width: 50%;
    }

   
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    #projectrow  img {
        width:150px;
    }
    .row-2 {
       
        
        
        display: inline-block;
        
    }
    .row-2.col-1 {
        float: left;                            
       
        margin-right: 200px;               
        
        

    }
    .row-2.col-2 {
        
        width: inherit;
        
    }
    .row-2.col-3 {
        float: right;
       
    }
    .row-3.img-1 {
        width: 25%;
    }

    .row-3.img-2 {
        width: 25%;
    }

    .row-3.img-3 {
        width: 25%;
    }

    .row-3.img-4 {
        width: 25%;
    }
    
    .row-6 {
        float:left;
    }

    .row-6.cl-1 {
        width:25%;
    }

    .row-6.cl-2 {
        width:25%;
    }
    .row-6.cl-3 {
        width:25%;
    }

    .row-6.cl-4 {
        width:25%;
    }
}  