<div class="row">
    <div class="col-lg-3 p-3" id="cssmenu">
        <ul>
            <li>
                Day-4
            </li>
            <ul>
                <li>
                    <a href="day4practice.html" routerLink="day4practice">Practice</a>
                </li>
                <li>
                    <a href="day4resume.html" routerLink="day4resume">Assignment - Resume</a>
                </li>
            </ul>
            <li>
                Day-5
            </li>
            <ul>
                <li>
                    Practice
                </li>
                <ul>
                    <li><a href="position.html" routerLink="position">Position</a></li>
                    <li><a href="overflow.html" routerLink="overflow">Overflow</a></li>
                    <li><a href="layoutpractice.html" routerLink="layoutpractice">Layout Practice</a></li>
                </ul>
            </ul>
            <ul>
                <li>
                    Assignment
                </li>
                <ul>
                    <li><a href="layout.html" routerLink="layout">Layout</a></li>
                </ul>
            </ul>
            <li>
                Day-6
            </li>
            <ul>
                <li>
                    Practice
                </li>
                <ul>
                    <li><a href="flex.html" routerLink="flex">Flex</a></li>
                    <li><a href="flexexample.html" routerLink="flexexample">Flex Example</a></li>
                    <li><a href="imagegallery.html" routerLink="gallery">Image Gallery</a></li>
                </ul>
            </ul>
            <ul>
                <li>
                    Assignment
                </li>
                <ul>
                    <li><a href="menulist.html" routerLink="menulist">Menu List</a></li>
                </ul>
            </ul>
            <li>
                Day-7
            </li>
            <ul>
                <li>
                    Practice
                </li>
                <ul>
                    <li><a href="mediademo.html" routerLink="mediademo">Media Demo</a></li>
                </ul>
            </ul>
            <ul>
                <li>
                    Assignment
                </li>
                <ul>
                    <li><a href="medialayout.html" routerLink="medialayout">Media Layout</a></li>
                </ul>
            </ul>
            <li>
                Day-8
            </li>
            <ul>
                <li>
                    Assignment
                </li>
                <ul>
                    <li><a href="grid.html" routerLink="grid">Grid</a></li>
                    <li><a href="gridlayout.html" routerLink="gridlayout">Grid Layout</a></li>
                </ul>
            </ul>

        </ul>
    </div>

    <div class="col-lg-9 p-3" id="bodycontent">
        <router-outlet></router-outlet>
    </div>
    
</div>