<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light ml-0 mt-5">
    <a class="navbar-brand" routerLink="/MileStone1">TRAINING SITE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-5">
        <a class="nav-link " routerLink="/html" routerLinkActive="btn btn-primary text-white active">HTML<span
            class="sr-only">(current)</span></a>
        <a class="nav-link" routerLink="/css" routerLinkActive="btn btn-primary text-white active">CSS</a>
        <a class="nav-link" routerLink="/js" routerLinkActive="btn btn-primary text-white active">JAVASCRIPT</a>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>