<div class="row">

    <div class="col-lg-3 p-3" id="jsmenu">
        <ul>
            <li>
                Day-15
            </li>
            <ul>
                <li>
                    <a href="array.html" routerLink="array">Array</a><br>
                    <a href="day15practice.html" routerLink="day15practice">Practice</a>
                </li>
                <li>
                    <a href="day15assignment.html" routerLink="day15assignment">Assignment</a>
                </li>
            </ul>
            <li>
                Day-16
            </li>
            <ul>
                <li>
                    <a href="day16practice.html" routerLink="day16practice">Practice</a>
                </li>
                <li>
                    <a href="day16assignment.html" routerLink="day16assignment">Assignment</a>
                </li>
            </ul>

            <li>
                Day-17
            </li>
            <ul>
                <li>
                    <a href="day17practice.html" routerLink="day17practice" >Practice</a>
                </li>
                <li>
                    <a href="day17assignment.html" routerLink="day17assignment">Assignment</a>
                </li>
            </ul>
            <li>
                Day-18
            </li>
            <ul>
                <li>
                    <a href="day18practice.html" routerLink="day18practice">Practice</a>
                </li>
                <li>
                    <a href="day18assignment.html" routerLink="day18assignment">Assignment</a>
                </li>
            </ul>
            <li>
                Day-19
            </li>
            <ul>
                <li>
                    <a href="day19assignment.html" routerLink="day19assignment">Assignment</a>
                </li>
            </ul>

            <li>
                Day-20
            </li>
            <ul>
                <li>
                    <a href="day20practice.html" routerLink="day20practice">Practice</a>
                </li>
                <li>
                    <a href="day20assignment.html" routerLink="day20assignment">Assignment</a>
                </li>
            </ul>

        </ul>
    </div>

    <div class="col-lg-9" id="bodycontent">
        <router-outlet></router-outlet>
     </div>
 
</div>