<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <p class="display-3">STUDENT APPLICATION FORM</p>
        </div>
        <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
          <div>
            <label>
              <b>STUDENT DETAILS</b>
            </label>
            <hr>
            <div class="form-group">
              <label class="control-label">
                FIRST NAME
              </label>
              <input type="text" id="firstname" formControlName="StudentFirstName"  [(ngModel)]="editdata.studentFirstName" name="sfn" class="form-control">
              <span
                *ngIf="(studentForm.get('StudentFirstName').touched || studentForm.get('StudentFirstName').dirty) && !studentForm.get('StudentFirstName').valid"
                class="help-block text-danger">
                <span *ngIf="studentForm.get('StudentFirstName').errors.required">The field is required</span>
                <span
                  *ngIf="studentForm.get('StudentFirstName').errors.minlength || studentForm.get('StudentFirstName').errors.maxlength">The
                  character should be between 2 and 15</span>
                <span *ngIf="studentForm.get('StudentFirstName').errors.NoCharacter">This field should contain
                  character only</span>
              </span>
            </div>
            <div class="form-group" >
              <label>
                MIDDLE NAME
              </label>
              <input type="text" id="middlename" formControlName="StudentMiddleName" [(ngModel)]="editdata.studentMiddleName" name="smn" class="form-control">
              <span
                *ngIf="(studentForm.get('StudentMiddleName').touched || studentForm.get('StudentMiddleName').dirty) && !studentForm.get('StudentMiddleName').valid"
                class="help-block text-danger">
                <span *ngIf="studentForm.get('StudentMiddleName').errors.required">The field is required</span>
                <span
                  *ngIf="studentForm.get('StudentMiddleName').errors.minlength || studentForm.get('StudentMiddleName').errors.maxlength">The
                  character should be between 2 and 15</span>
                <span *ngIf="studentForm.get('StudentMiddleName').errors.NoCharacter">This field should contain
                  character only</span>
              </span>
            </div>
            <div class="form-group">
              <label>
                LAST NAME
              </label>
              <input type="text" id="lastname" formControlName="StudentLastName" [(ngModel)]="editdata.studentLastName" name="sln" class="form-control">
              <span
                *ngIf="(studentForm.get('StudentLastName').touched || studentForm.get('StudentLastName').dirty) && !studentForm.get('StudentLastName').valid"
                class="help-block text-danger">
                <span
                  *ngIf="studentForm.get('StudentLastName').errors.minlength || studentForm.get('StudentLastName').errors.maxlength">The
                  character should be between 2 and 15</span>
                <span *ngIf="studentForm.get('StudentLastName').errors.required">The field is required</span>
                <span *ngIf="studentForm.get('StudentLastName').errors.NoCharacter">This field should contain
                  character only</span>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label for="dob">
              DATE OF BIRTH
            </label>
            <input type="date" id="dob" formControlName="BirthDate" [(ngModel)]="editdata.birthDate" name="bd" class="form-control">
            <!-- <span
              *ngIf="(studentForm.get('dob').touched || studentForm.get('dob').dirty) && !studentForm.get('dob').valid"
              class="help-block text-danger">
              <span *ngIf="studentForm.get('dob').errors.required">The field is required</span>
              <span *ngIf="studentForm.get('dob').errors.AgeError">The age should be between 5 to 18 years</span>
            </span> -->
          </div>
          <div class="form-group">
            <label class="control-label">
              PLACE OF BIRTH
            </label>
            <input type="text" id="place" formControlName="BirthPlace" [(ngModel)]="editdata.birthPlace" name="bp" class="form-control">
            <!-- <span
              *ngIf="(studentForm.get('birthplace').touched || studentForm.get('birthplace').dirty) && !studentForm.get('birthplace').valid"
              class="help-block text-danger">
              <span *ngIf="studentForm.get('birthplace').errors.required">The field is required</span>
            </span> -->
          </div>
          <div class="form-group">
            <label>
              FIRST LANGUAGE
            </label>
            <input type="text" id="fl" formControlName="FirstLanguage" [(ngModel)]="editdata.firstLanguage" name="fl" class="form-control">
            <!-- <span
              *ngIf="(studentForm.get('firstlanguage').touched || studentForm.get('firstlanguage').dirty) && !studentForm.get('firstlanguage').valid"
              class="help-block text-danger">
              <span *ngIf="studentForm.get('firstlanguage').errors.required">The field is required</span>
            </span> -->
          </div>
          <label for="address">
            <b>ADDRESS</b>
          </label>
          <hr>
          <div class="row">
            <div class="col-lg-6 form-group" >
              <label>CITY</label>
              <input type="text" formControlName="City" [(ngModel)]="editdata.city" name="city" class="form-control">
              <!-- <span
                *ngIf="(studentForm.get('address.city').touched || studentForm.get('address.city').dirty) && !studentForm.get('address.city').valid"
                class="help-block text-danger">
                <span *ngIf="studentForm.get('address.city').errors.required">The field is required</span>
              </span> -->
            </div>
            <div class="col-lg-6 form-group" >
              <label>STATE</label>
              <input type="text" formControlName="State" [(ngModel)]="editdata.state" name="state" class="form-control">
              <!-- <span
                *ngIf="(studentForm.get('address.state').touched || studentForm.get('address.state').dirty) && !studentForm.get('address.state').valid"
                class="help-block text-danger">
                <span *ngIf="studentForm.get('address.state').errors.required">The field is required</span>
              </span> -->
            </div>
            <div class="col-lg-6 form-group">
              <label>COUNTRY</label>
              <input type="text" formControlName="Country" [(ngModel)]="editdata.country" name="country" class="form-control">
              <!-- <span
                *ngIf="(studentForm.get('address.country').touched || studentForm.get('address.country').dirty) && !studentForm.get('address.country').valid"
                class="help-block text-danger">
                <span *ngIf="studentForm.get('address.country').errors.required">The field is required</span>
              </span> -->
            </div>
            <div class="col-lg-6 form-group" >
              <label>PINCODE</label>
              <input type="tel" formControlName="PinCode" [(ngModel)]="editdata.pinCode" name="pin" class="form-control">
              <!-- <span
                *ngIf="(studentForm.get('address.pincode').touched || studentForm.get('address.pincode').dirty) && !studentForm.get('address.pincode').valid"
                class="help-block text-danger">
                <span
                  *ngIf="studentForm.get('address.pincode').errors.minlength || studentForm.get('address.pincode').errors.maxlength">Pin
                  code is of 6 digit</span>
                <span *ngIf="studentForm.get('address.pincode').errors.required">The field is required</span><br>
                <span *ngIf="studentForm.get('address.pincode').errors.NoDigit">This field should contain digits
                  only</span>
              </span> -->
            </div>
          </div>
          <div class="form-group">
            <label>
              <b>FATHER DETAILS</b>
            </label>
            <hr>
            <div class="form-group" >
              <label>
                FIRST NAME
              </label>
              <input type="text" formControlName="FatherFirstName" [(ngModel)]="editdata.fatherFirstName" name="ffn" class="form-control">
              <!-- <span
                *ngIf="(studentForm.get('fathername.firstname').touched || studentForm.get('fathername.firstname').dirty) && !studentForm.get('fathername.firstname').valid"
                class="help-block text-danger">
                <span
                  *ngIf="studentForm.get('fathername.firstname').errors.minlength || studentForm.get('fathername.firstname').errors.maxlength">The
                  name should contain between 2 to 15 character</span>
                <span *ngIf="studentForm.get('fathername.firstname').errors.required">The field is required</span>
              </span> -->
            </div>
            <div class="form-group" >
              <label>
                MIDDLE NAME
              </label>
              <input type="text" formControlName="FatherMiddleName" [(ngModel)]="editdata.fatherMiddleName" name="fmn"  class="form-control">
              <!-- <span
                *ngIf="(studentForm.get('fathername.middlename').touched || studentForm.get('fathername.middlename').dirty) && !studentForm.get('fathername.middlename').valid"
                class="help-block text-danger">
                <span
                  *ngIf="studentForm.get('fathername.middlename').errors.minlength || studentForm.get('fathername.middlename').errors.maxlength">The
                  name should contain between 2 to 15 character</span>
                <span *ngIf="studentForm.get('fathername.middlename').errors.required">The field is required</span>
              </span> -->
            </div>
            <div class="form-group">
              <label>
                LAST NAME
              </label>
              <input type="text" formControlName="FatherLastName" [(ngModel)]="editdata.fatherLastName" name="fln"  class="form-control">
              <!-- <span
                *ngIf="(studentForm.get('fathername.lastname').touched || studentForm.get('fathername.lastname').dirty) && !studentForm.get('fathername.lastname').valid"
                class="help-block text-danger">
                <span
                  *ngIf="studentForm.get('fathername.lastname').errors.minlength || studentForm.get('fathername.lastname').errors.maxlength">The
                  name should contain between 2 to 15 character</span>
                <span *ngIf="studentForm.get('fathername.lastname').errors.required">The field is required</span>
              </span> -->
            </div>
          </div>

          <div class="form-group" >
            <label>
              EMAIL
            </label>
            <div>
              <input type="email" formControlName="FatherEmail" [(ngModel)]="editdata.fatherEmail" name="femail"  class="form-control">
              <!-- <span
                *ngIf="(studentForm.get('fatherdetails.email').touched || studentForm.get('fatherdetails.email').dirty) && !studentForm.get('fatherdetails.email').valid"
                class="help-block text-danger">
                <span *ngIf="studentForm.get('fatherdetails.email').errors.email">Email is invalid</span>
                <span *ngIf="studentForm.get('fatherdetails.email').errors.required">The field is required</span>
              </span> -->
            </div>
            <div>
              <label>
                EDUCATION
              </label>
              <input type="text" formControlName="FatherEducation" [(ngModel)]="editdata.fatherEducation" name="fedu"  class="form-control">
              <!-- <span
                *ngIf="(studentForm.get('fatherdetails.education').touched || studentForm.get('fatherdetails.education').dirty) && !studentForm.get('fatherdetails.education').valid"
                class="help-block text-danger">
                <span *ngIf="studentForm.get('fatherdetails.education').errors.required">The field is required</span>
              </span> -->
            </div>
            <div>
              <label>
                PROFESSION
              </label>
              <input type="text" formControlName="FatherProfession" [(ngModel)]="editdata.fatherProfession" name="fprof"  class="form-control">
              <!-- <span
                *ngIf="(studentForm.get('fatherdetails.profession').touched || studentForm.get('fatherdetails.profession').dirty) && !studentForm.get('fatherdetails.profession').valid"
                class="help-block text-danger">
                <span *ngIf="studentForm.get('fatherdetails.profession').errors.required">The field is required</span>
              </span> -->
            </div>
            <div>
              <label>
                DESIGNATION
              </label>
              <input type="text" formControlName="FatherDesignation" [(ngModel)]="editdata.fatherDesignation" name="fdesg"  class="form-control">
              <!-- <span
                *ngIf="(studentForm.get('fatherdetails.designation').touched || studentForm.get('fatherdetails.designation').dirty) && !studentForm.get('fatherdetails.designation').valid"
                class="help-block text-danger">
                <span *ngIf="studentForm.get('fatherdetails.designation').errors.required">The field is required</span>
              </span> -->
            </div>
            <div>
              <label>
                PHONE NUMBER
              </label>
              <input type="tel" formControlName="FatherPhoneNumber" [(ngModel)]="editdata.fatherPhoneNumber" name="fpn"  class="form-control">
              <!-- <span
                *ngIf="(studentForm.get('fatherdetails.phoneno').touched || studentForm.get('fatherdetails.phoneno').dirty) && !studentForm.get('fatherdetails.phoneno').valid"
                class="help-block text-danger">
                <span
                  *ngIf="studentForm.get('fatherdetails.phoneno').errors.minlength || studentForm.get('fatherdetails.phoneno').errors.maxlength">Please
                  enter valid phone number</span>
                <span *ngIf="studentForm.get('fatherdetails.phoneno').errors.required">The field is required</span><br>
                <span *ngIf="studentForm.get('fatherdetails.phoneno').errors.NoDigit">This field should contain digits
                  only</span>
              </span> -->
            </div>
          </div>
          <div class="form-group" >
            <label>
              <b>MOTHER DETAILS</b>
            </label>
            <hr>
            <div><label>
                FIRST NAME
              </label>
              <input type="text" formControlName="MotherFirstName" [(ngModel)]="editdata.motherFirstName" name="mfn"  class="form-control">
              <!-- <span
                *ngIf="(studentForm.get('mothername.firstname').touched || studentForm.get('mothername.firstname').dirty) && !studentForm.get('mothername.firstname').valid"
                class="help-block text-danger">
                <span
                  *ngIf="studentForm.get('mothername.firstname').errors.minlength || studentForm.get('mothername.firstname').errors.maxlength">The
                  name should contain between 2 to 15 character</span>
                <span *ngIf="studentForm.get('mothername.firstname').errors.required">The field is required</span>
              </span> -->
            </div>
            <div>
              <label>
                MIDDLE NAME
              </label>
              <input type="text" formControlName="MotherMiddleName" [(ngModel)]="editdata.motherMiddleName" name="mmn" class="form-control">
              <!-- <span
                *ngIf="(studentForm.get('mothername.middlename').touched || studentForm.get('mothername.middlename').dirty) && !studentForm.get('mothername.middlename').valid"
                class="help-block text-danger">
                <span
                  *ngIf="studentForm.get('mothername.middlename').errors.minlength || studentForm.get('mothername.middlename').errors.maxlength">The
                  name should contain between 2 to 15 character</span>
                <span *ngIf="studentForm.get('mothername.middlename').errors.required">The field is required</span>
              </span> -->
            </div>
            <div>
              <label>
                LAST NAME
              </label>
              <input type="text" formControlName="MotherLastName" [(ngModel)]="editdata.motherLastName" name="mln" class="form-control">
              <!-- <span
                *ngIf="(studentForm.get('mothername.lastname').touched || studentForm.get('mothername.lastname').dirty) && !studentForm.get('mothername.lastname').valid"
                class="help-block text-danger">
                <span
                  *ngIf="studentForm.get('mothername.lastname').errors.minlength || studentForm.get('mothername.lastname').errors.maxlength">The
                  name should contain between 2 to 15 character</span>
                <span *ngIf="studentForm.get('mothername.lastname').errors.required">The field is required</span>
              </span> -->
            </div>
          </div>

          <div class="form-group" >
            <div>
              <label>
                EMAIL
              </label>
              <input type="email" formControlName="MotherEmail" [(ngModel)]="editdata.motherEmail" name="memail" class="form-control">
              <!-- <span
                *ngIf="(studentForm.get('motherdetails.email').touched || studentForm.get('motherdetails.email').dirty) && !studentForm.get('motherdetails.email').valid"
                class="help-block text-danger">
                <span *ngIf="studentForm.get('motherdetails.email').errors.required">This field is required</span>
                <span *ngIf="studentForm.get('motherdetails.email').errors.email">Email is invalid</span>

              </span> -->
            </div>
            <div>
              <label>
                EDUCATION
              </label>
              <input type="text" formControlName="MotherEducation" [(ngModel)]="editdata.motherEducation" name="medu" class="form-control">
              <!-- <span
                *ngIf="(studentForm.get('motherdetails.education').touched || studentForm.get('motherdetails.education').dirty) && !studentForm.get('motherdetails.education').valid"
                class="help-block text-danger">
                <span *ngIf="studentForm.get('motherdetails.education').errors.required">The field is required</span>
              </span> -->
            </div>
            <div>
              <label>
                PROFESSION
              </label>
              <input type="text" formControlName="MotherProfession" [(ngModel)]="editdata.motherProfession" name="mprof" class="form-control">
              <!-- <span
                *ngIf="(studentForm.get('motherdetails.profession').touched || studentForm.get('motherdetails.profession').dirty) && !studentForm.get('motherdetails.profession').valid"
                class="help-block text-danger">
                <span *ngIf="studentForm.get('motherdetails.profession').errors.required">The field is required</span>
              </span> -->
            </div>
            <div>
              <label>
                DESIGNATION
              </label>
              <input type="text" formControlName="MotherDesignation" [(ngModel)]="editdata.motherDesignation" name="mdesg" class="form-control">
              <!-- <span
                *ngIf="(studentForm.get('motherdetails.designation').touched || studentForm.get('motherdetails.designation').dirty) && !studentForm.get('motherdetails.designation').valid"
                class="help-block text-danger">
                <span *ngIf="studentForm.get('motherdetails.designation').errors.required">The field is required</span>
              </span> -->
            </div>
            <div>
              <label>
                PHONE NUMBER
              </label>
              <input type="tel" formControlName="MotherPhoneNumber" [(ngModel)]="editdata.motherPhoneNumber" name="mpn" class="form-control">
              <!-- <span
                *ngIf="(studentForm.get('motherdetails.phoneno').touched || studentForm.get('motherdetails.phoneno').dirty) && !studentForm.get('motherdetails.phoneno').valid"
                class="help-block text-danger">
                <span
                  *ngIf="studentForm.get('motherdetails.phoneno').errors.minlength || studentForm.get('motherdetails.phoneno').errors.maxlength">Please
                  enter valid phone number</span>
                <span *ngIf="studentForm.get('motherdetails.phoneno').errors.required">The field is required</span><br>
                <span *ngIf="studentForm.get('motherdetails.phoneno').errors.NoDigit">This field should contain digits
                  only</span>
              </span> -->
            </div>
          </div>


          <div>
            <h4>EMERGENCY CONTACTS:</h4>



            <div>
              <label class="mt-1">RELATION</label>
              <input type="text" formControlName="EmergencyRelation" [(ngModel)]="editdata.emergencyRelation" name="rel" class="form-control mt-2">

            </div>
            <div>
              <label class="mt-1">CONTACT NO</label>
              <input type="text" formControlName="EmergencyContactNumber" [(ngModel)]="editdata.emergencyContactNumber" name="ecn" class="form-control mt-2">
              <!-- <span
                *ngIf="(temp.get('contactno').touched || temp.get('contactno').dirty) && !temp.get('contactno').valid"
                class="help-block text-danger">
                <span *ngIf="temp.get('contactno').errors.minlength || temp.get('contactno').errors.maxlength">Please
                  enter valid phone number</span>
                <span *ngIf="temp.get('contactno').errors.required">The field is required</span><br>
                <span *ngIf="temp.get('contactno').errors.NoDigit">This field should contain digits only</span>
              </span> -->
            </div>

          </div>


          <div>
            <h4>REFERENCES:</h4>

            <div>
              <label class="mt-1">REFERENCE NAME</label>
              <input type="text" formControlName="ReferenceName" [(ngModel)]="editdata.referenceName" name="refname" class="form-control mt-2">
              <!-- <span
                    *ngIf="(temp.get('referencename').touched || temp.get('referencename').dirty) && !temp.get('referencename').valid"
                    class="help-block text-danger">
                    <span *ngIf="temp.get('referencename').errors.required">The field is required</span>
                  </span> -->
            </div>
            <div>
              <label class="mt-1">ADDRESS</label>
              <input type="text" formControlName="ReferenceAddress" [(ngModel)]="editdata.referenceAddress" name="refadd" class="form-control mt-2">
              <!-- <span *ngIf="(temp.get('address').touched || temp.get('address').dirty) && !temp.get('address').valid"
                    class="help-block text-danger">
                    <span *ngIf="temp.get('address').errors.required">The field is required</span>
                  </span> -->
            </div>
            <div>
              <label class="mt-1">CONTACT NO</label>
              <input type="text" formControlName="ReferenceContactNumber" [(ngModel)]="editdata.referenceContactNumber" name="refnum" class="form-control mt-2">
              <!-- <span
                    *ngIf="(temp.get('contactno').touched || temp.get('contactno').dirty) && !temp.get('contactno').valid"
                    class="help-block text-danger">
                    <span
                      *ngIf="temp.get('contactno').errors.minlength || temp.get('contactno').errors.maxlength">Please
                      enter valid phone number</span>
                    <span *ngIf="temp.get('contactno').errors.required">The field is required</span><br>
                    <span *ngIf="temp.get('contactno').errors.NoDigit">This field should contain digits only</span>

                  </span> -->
            </div>
          </div>


          <button class="btn btn-warning mt-2" type="submit">Submit</button>
          <button type="button" class="btn btn-success btn-block mt-5"
                     (click)="Updateddata()">Save Changes</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- DISPLAYING DATA -->
<div class="container">
  <div class="card mt-5">
    <div class="card-header bg-primary text-white text-center" style="font-size: 30px;">
      Student Details
    </div>
    <div class="card-body">
      <div style="overflow-x: scroll;">

        <table class="table table-hover">
          <thead>
            <tr>
              <th>StudentId</th>
              <th>StudentFirstName</th>
              <th>StudentMiddleName</th>
              <th>StudentLastName</th>
              <th>BirthDate</th>
              <th>BirthPlace</th>
              <th>FirstLanguage</th>
              <th>City</th>
              <th>State</th>
              <th>Country</th>
              <th>PinCode</th>
              <th>FatherFirstName</th>
              <th>FatherMiddleName</th>
              <th>FatherLastName</th>
              <th>FatherEmail</th>
              <th>FatherEducationQualification</th>
              <th>FatherProfession</th>
              <th>FatherDesignation</th>
              <th>FatherPhoneNumber</th>
              <th>MotherFirstName</th>
              <th>MotherMiddleName</th>
              <th>MotherLastName</th>
              <th>MotherEmail</th>
              <th>MotherEducationQualification</th>
              <th>MotherProfession</th>
              <th>MotherDesignation</th>
              <th>MotherPhoneNumber</th>
              <th>EmergencyRelation</th>
              <th>EmergencyContactNumber</th>
              <th>ReferenceName</th>
              <th>ReferenceAddress</th>
              <th>ReferenceContactNumber</th>
              <th>EDIT</th>
              <th>DELETE</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of studentList">
              <td>{{item.studentId}}</td>
              <td>{{item.studentFirstName}}</td>
              <td>{{item.studentMiddleName}}</td>
              <td>{{item.studentLastName}}</td>
              <td>{{item.birthDate}}</td>
              <td>{{item.birthPlace}}</td>
              <td>{{item.firstLanguage}}</td>
              <td>{{item.city}}</td>
              <td>{{item.state}}</td>
              <td>{{item.country}}</td>
              <td>{{item.pinCode}}</td>
              <td>{{item.fatherFirstName}}</td>
              <td>{{item.fatherMiddleName}}</td>
              <td>{{item.fatherLastName}}</td>
              <td>{{item.fatherEmail}}</td>
              <td>{{item.fatherEducation}}</td>
              <td>{{item.fatherProfession}}</td>
              <td>{{item.fatherDesignation}}</td>
              <td>{{item.fatherPhoneNumber}}</td>
              <td>{{item.motherFirstName}}</td>
              <td>{{item.motherMiddleName}}</td>
              <td>{{item.motherLastName}}</td>
              <td>{{item.motherEmail}}</td>
              <td>{{item.motherEducation}}</td>
              <td>{{item.motherProfession}}</td>
              <td>{{item.motherDesignation}}</td>
              <td>{{item.motherPhoneNumber}}</td>
              <td>{{item.emergencyRelation}}</td>
              <td>{{item.emergencyContactNumber}}</td>
              <td>{{item.referenceName}}</td>
              <td>{{item.referenceAddress}}</td>
              <td>{{item.referenceContactNumber}}</td>
              <td><button class="btn btn-primary" (click)="UpdateData(item)">Edit</button></td>
              <td><button class="btn btn-danger" (click)="DeleteData(item.studentId)">Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>