<div class="container mt-3">
    <div class="bg-light p-3">
        <table class="table border border-danger">
        <tr>
            <th>
                ProductID	
            </th>
            <th>
                ProductName
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            <th>

            </th>
        </tr>
        <tr>
            <td>
                1
            </td>
            <td>
                Cheese
            </td>
            <td>
                100
            </td>
            <td>
                1
            </td>
            <td>
                <a href="#" onclick="item1()">Add to Cart</a>
            </td>
        </tr>
        <tr>
            <td>
                2
            </td>
            <td>
                Pen
            </td>
            <td>
                150
            </td>
            <td>
                2
            </td>
            <td>
                <a href="#" onclick="item2()">Add to Cart</a>
            </td>
        </tr>
        <tr>
            <td>
                3
            </td>
            <td>
                Butter
            </td>
            <td>
                100
            </td>
            <td>
                1
            </td>
            <td>
                <a href="#" onclick="item3()">Add to Cart</a>
            </td>
        </tr>
        <tr>
            <td>
                4
            </td>
            <td>
                Pencil
            </td>
            <td>
                10
            </td>
            <td>
                1
            </td>
            <td>
                <a href="#" onclick="item4()">Add to Cart</a>
            </td>
        </tr>
        </table>
        <br>
        <button class="btn btn-warning" id="cartSum" onclick="cartSummary()">Cart Summary</button>
    </div>
    </div>
    