  <div class="row">
    <div class="col-lg-2">
      <app-adbar></app-adbar>
    </div>
    <div class="col-lg-10">
      <div class="row mt-3">
        <div class="col-lg-6">
          <app-circle></app-circle>
        </div>
        <div class="col-lg-6"> 
          <app-rectangle></app-rectangle>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-lg-6">
          <app-login></app-login>
        </div>
        <div class="col-lg-6"> 
          <app-signup></app-signup>
        </div>
      </div>
    </div>
  </div>

