#imglogo {
    height: 40px;
    width: 40px;
    border-radius: 25px;
}

#cssmenu {
    background: #FCF3CF;

}

#bodycontent {
    background: white;     
    height: 100vh;    

}

ul {
    list-style-type: none;
}

.flexbox {
    display: flex;
    flex-direction: row-reverse;
    background-color: gold;
}

    .flexbox > div {
        width: 100px;
        height: 100px;
        margin: 20px;
        background-color: aquamarine;
        padding: 10px;
        text-align: center;
    }