<div class="container mt-3">
    <div class="bg-light p-3">
        <form id="form1">
            <h3>Area of circle:</h3>    
             <label for="rad">Enter the radius of circle:</label>  
             <input type="text" class="form-control" id="radius" required>             
            <input type="button" value="AREA" class="btn btn-danger m-3" onclick="fnCircle()">
        </form>
    </div>
</div>
<br><br><hr><br><br>

<div class="container">
    <div class="bg-warning p-3">
        <form id="form2">
            <h3>Area of Rectangle:</h3>    
             <label for="len">Enter the length of Rectangle:</label>  
             <input type="text" class="form-control" id="length" required> 
             <label for="breadth">Enter the breadth of Rectangle:</label>  
             <input type="text" class="form-control" id="breadth" required>              
            <input type="button" value="AREA" class="btn btn-dark m-3" onclick="fnRectangle()">
        </form>
    </div>
</div>
<br><br><hr><br><br>

<div class="container">
    <div class="bg-secondary p-3">
        <form id="form3">
            <h3>Function Call Example:</h3>                         
            <input type="button" value="CALL" class="btn btn-danger m-3" onclick="fnCall()">
        </form>
    </div>
</div>
<br><br><hr><br><br>

<div class="container">
    <div class="bg-dark text-white p-3">
        <form id="form4">
            <h3>Function Apply & Closure Example:</h3>                         
            <input type="button" value="APPLY" class="btn btn-light m-3" onclick="fnApply()">
            <input type="button" value="CLOSURE" class="btn btn-light m-3" onclick="exClosure()">
        </form>
    </div>
</div>
