<div class="container">
    <div class="bg-light p-3">
        <form id="form1">
            <h3>Callback Example:</h3>   
            <input type="text" class="form-control" id="number">             
            <input type="button" value="CALCULATE" class="btn btn-warning m-3" onclick="answer()">
        </form>
    </div>
</div>
<br><br><hr><br><br>
<div class="container">
    
        
            <h3>Difference in var and let:</h3>                
            <div class="alert alert-danger" id="d1"></div>
            <div class="alert alert-primary" id="d"></div>
            <div class="alert alert-danger" id="d2"></div>
            <h1 class="bg-dark text-white text-center">After using let keyword </h1>
            <div class="alert alert-danger" id="d3"></div>
            <div class="alert alert-primary" id="d4"></div>
            <div class="alert alert-danger" id="d5"></div>
    
</div>
<br><br><hr><br><br> 

<div class="container">
    <div class="bg-light p-3">
        <form id="form2">
            <h3>Function that takes in a single parameter and returns a new promise:</h3>   
            <input type="text" class="form-control" id="reversedata" placeholder="Enter any String" required>             
            <input type="button" value="RETURN" class="btn btn-warning m-3" onclick="fnPromise()">
        </form>
    </div>
</div>
<br><br><hr><br><br>